version: '3.8'
services:
  gitea:
    image: gitea/gitea:{{ gitea_image_version }}
    networks:
      - homelab
    ports:
      - 3000:3000
      - 2222:2222
    volumes:
      - {{ gitea_dir }}/data:/var/lib/gitea
      - {{ gitea_dir }}/config:/etc/gitea
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    restarts: always
    depends_on:
      - gitea-db

  gitea-db:
    image: postgres:14
    networks:
      - homelab
    environment:
      - POSTGRES_USER=gitea
      - POSTGRES_PASSWORD={{ gitea_db_password }}
      - POSTGRES_DB=gitea
    volumes:
      - {{ gitea_dir }}/postgres:/var/lib/postgresql/data
    restarts: always
