version: '3.8'
services:
  jenkins:
    image: jenkins/jenkins:{{ jenkins_image_version }}
    networks:
      - homelab
    ports:
      - 9001:8080
      - 50000:50000
    environment:
      TZ: Asia/Shanghai
    volumes:
      - {{ jenkins_dir }}/jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
    restart: always

networks:
  homelab:
    external: true
